html {
  background-color: #202020;
  color: #fff;
}

.title {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}

.component_container {
  position: relative;
  background: black;
  height: 80vh;
  width: 80vw;
  border-radius: 4px;
}

.main {
  display: grid;
  gap: 1em;
  place-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 6px;
  border: none;
  font-size: 8px;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  touch-action: manipulation;
}

.button:hover {
  background-color: #2c974b;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.item {
  position: absolute;
}
